<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>All $classmap | $server_name</title>
<link rel="stylesheet" href='${home_link}static/main.css' />
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap-theme.min.css" />
<link rel="alternate" type="application/rdf+xml"
	href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
<link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl"
	title="This page in RDF (Turtle)" />
</head>
<body class="browser">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">D2R Server</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="$home_link">Home</a></li>
					<li><a href="/dataset">Description</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<div class='container'>
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<h2 id="title">All $classmap</h2>
			</div>

			<div class="panel-body">
				<strong><a href="$home_link">Home</a></strong> #if
				(!$classmap_links.isEmpty()) | #if ($truncated_results) Example
				data: #end #foreach ($aClassMap in $classmap_links.keySet()) #if
				($aClassMap == $classmap) <strong>$aClassMap</strong> #else <strong><a
					href="$classmap_links.get($aClassMap)">$aClassMap</a></strong> #end #end
				#end <br />
				<br />
				<ul class="directory">
					#foreach ($resource as $resources.keySet())
					<li>#if ($resource == $resources.get($resource)) <a
						href="$resource">$resource</a> #else <a href="$resource">$resources.get($resource)</a><br />
						<small>$resource</small> #end
					</li> #end
				</ul>
				#if ($limit_per_class_map)
				<p class="text-muted">The server is configured to display only
					up to $limit_per_class_map entities.</p>
				#end
			</div>
		</div>
	</div>
</body>
</html>
