<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>#if ($label) $label.string | $server_name #else
	Description of $uri | $server_name #end</title>
<link rel="stylesheet" href='${home_link}static/main.css' />
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/css/bootstrap-theme.min.css" />
<link rel="alternate" type="application/rdf+xml"
	href="$rdf_link?output=rdfxml" title="This page in RDF (XML)" />
<link rel="alternate" type="text/turtle" href="$rdf_link?output=ttl"
	title="This page in RDF (Turtle)" />
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">D2R Server</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="$home_link">Home</a></li>
					<li><a href="$home_link/dataset">Description</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>


	<div class="container">
		<div class='panel panel-default'>
			<div class='panel-heading'>
				<form method='get' action="$rdf_link">
				<button class="btn btn-link pull-right" title="RDF data" ><img
			src="${home_link}snorql/rdf_flyer.24.gif" alt="[RDF data]" /></button></form>
				#if ($label) <h1 id="title">$label.string</h1> #else Description of
					$uri #end
				<div class="subtitle">Resource URI: $uri</div>
				
			</div>


			<div class="panel-body">
				#if
				(!$classmap_links.isEmpty()) #foreach ($classmap in
				$classmap_links.keySet()) <strong><a
					href="$classmap_links.get($classmap)"> #if ($truncated_results)
						Example #else All #end $classmap </a></strong> | #end #end
			

			#if (!$properties.isEmpty())
			
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Property</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					#foreach ($property in $properties) #if ($velocityCount % 2 == 0)
					#set ($odd_even = "even") #else #set ($odd_even = "odd") #end
					<tr>
						<td class="property">#if ($property.isInverse()) <small>is</small>
							#end #if ($property.propertyPrefix()) <a class="uri"
							href="$property.propertyURI()" title="$property.propertyURI()"><small>$property.propertyPrefix()</small>$property.propertyLocalName()</a>
							#else <a class="uri" href="$property.propertyURI()"
							title="$property.propertyURI()"><small>?:</small>$property.propertyLocalName()</a>
							#end #if ($property.isInverse()) <small>of</small> #end
						</td>
						<td>#if ($property.isImg() && $property.value().isURI()) <a
							href="$property.value().URI"><img src="$property.value().URI"
								class="depiction" /></a> #elseif ($property.valueQName()) <a
							class="uri" href="$property.value().URI">$property.valueQName()</a>
							#elseif ($property.value().isURI()) <small>&lt;</small><a
							class="uri" href="$property.value().URI">$property.value().URI</a><small>&gt;</small>
							#elseif ($property.value().isBlank()) <span class="blank">_:$property.value().BlankNodeLabel</span>
							#elseif ($property.value().isLiteral()) <span class="literal">$property.value().LiteralLexicalForm
								#if ($property.value().LiteralDatatype) <small>($property.datatypeQName())</small>
								#end #if ($property.value().LiteralLanguage != "") <small>($property.value().LiteralLanguage)</small>
								#end
						</span> #end
						</td>
					</tr>
					#end
				</tbody>
			</table>
			
				#if ($limit_per_property_bridge)
				<p class="text-muted">The server is configured to display only a
					limited number of values (limit per property bridge:
					$limit_per_property_bridge).</p>
				#end #else
				<p class="text-muted">No textual description available.</p>
				#end
			</div>
		</div>
		#if ($metadata) 
		<div class='panel panel-info'>
			<div class='panel-heading'>
			<a name="meta"></a>
			Metadata
			</div>
			#set($bnidCount = 0) #set($idadd = 0)
				#listProperties ($metadataroot $metadata)</div>
			#end
		
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.0.1-p7/js/bootstrap.min.js"></script>
</body>
</html>
